<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
var app = angular.module('DB', []);
  app.controller('controller',
      function ($scope, $http) {
          $scope.db = new Array;
          $http.get('pokeGen6.json').then(function (jsonData) {
                  $scope.db = jsonData.data;
              });
          $scope.filterName = "Normal";
          $scope.filterColor = "white";


      });


</script>
</head>
<body ng-app="DB" ng-controller="controller">
  <center>
  <div class="header">
    <h2>PokeType Checker</h2>
    <h3>Generation 6+</h3>
    <div class="nav">
      <table>
        <tr>
          <td><a href="/gen1.html">Generation 1</a></td>
          <td><a href="/gen2_5.html">Generation 2-5</a></td>
          <td><a href="/gen6andabove.html">Generation 6+</a></td>
        <tr>
      </table>
    </div>
  </div>
  <br>

  <button id="normal-button" ng-click="filterName='Normal'; filterColor='white'">Normal</button>
  <button id="fire-button" ng-click="filterName='Fire'; filterColor='#ff944d'">Fire</button>
  <button id="water-button" ng-click="filterName='Water'; filterColor='#3333ff'">Water</button>
  <button id="electric-button" ng-click="filterName='Electric'; filterColor='#f8d030'">Electric</button>
  <br>

  <button id="grass-button" ng-click="filterName='Grass'; filterColor='#00b33c'">Grass</button>
  <button id="ice-button" ng-click="filterName='Ice'; filterColor='#99ffff'">Ice</button>
  <button id="fighting-button" ng-click="filterName='Fighting'; filterColor='#ff0000'">Fighting</button>
  <button id="poison-button" ng-click="filterName='Poison'; filterColor='#a040a0'">Poison</button>
  <br>

  <button id="ground-button" ng-click="filterName='Ground'; filterColor='#e0c068'">Ground</button>
  <button id="flying-button" ng-click="filterName='Flying'; filterColor='#a890f0'">Flying</button>
  <button id="psychic-button" ng-click="filterName='Psychic'; filterColor='#f85888'">Psychic</button>
  <button id="bug-button" ng-click="filterName='Bug'; filterColor='#a8b820'">Bug</button>
  <br>

  <button id="rock-button" ng-click="filterName='Rock'; filterColor='#b8a038'">Rock</button>
  <button id="ghost-button" ng-click="filterName='Ghost'; filterColor='#705898'">Ghost</button>
  <button id=dragon-button ng-click="filterName='Dragon'; filterColor='#7038f8'">Dragon</button>
  <button id="dark-button" ng-click="filterName='Dark'; filterColor='#705848'">Dark</button>
  <br>


  <button id="steel-button" ng-click="filterName='Steel'; filterColor='#b8b8d0'">Steel</button>
  <button id="fairy-button" ng-click="filterName='Fairy'; filterColor='#e898e8'">Fairy</button>
  <br>
</center>

<center>
  <!-- <div layout="col" layout-align="center" id="mainDiv"> -->

    <div ng-style="{'color': filterColor }">
      <div id="typeHeader"><h1>{{filterName}}</h1></div>
    </div>
    <br>
    <div class="super-effective">
      <h2>Super Effective</h2>
      <ul>
        <li ng-repeat="types in db | filter:{Type: filterName}">
          <div ng-if="!types.Super">
            Nothing
          </div>
          {{types.Super}}
        </li>
      </ul>

      <br>

      <h2>Takes Half Damage From</h2>
      <ul>
        <li ng-repeat="types in db | filter:{Type: filterName}">
          <div ng-if="!types.Strong">
            Nothing
          </div>
          {{types.Strong}}
        </li>
      </ul>
    </div>


    <div class="not-very-effective">
      <h2>Not Very Effective</h2>
      <center>
      <ul>
        <li ng-repeat="types in db | filter:{Type: filterName}">
          <div ng-if="!types.NotVeryEffective">
            Nothing
          </div>
          {{types.NotVeryEffective}}
        </li>
      </ul>


      <h2>Weak To</h2>
      <ul>
        <li ng-repeat="types in db | filter:{Type: filterName}">
          <div ng-if="!types.Weak">
            Nothing
          </div>
          {{types.Weak}}
        </li>
      </ul>
    </div>


    <div class="no-effect">
      <h2>No Effect</h2>
      <ul>
        <li ng-repeat="types in db | filter:{Type: filterName}">
          <div ng-if="!types.NoEffect">
            Nothing
          </div>
          {{types.NoEffect}}
        </li>
      </ul>
    </div>
    <!-- </div> -->

<center>

</body>
</html>
