html {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
}

body {
  font-family: "Verdana", Times, serif;
  background-color: black;
  height: 100%;
}

h2 {
  margin-bottom: 1px;
}

h1 {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

button {
  margin-bottom: 5px;
  border-radius: 25px;
  border: 2px solid black;
  outline: none;
}

button:focus {
  outline: none;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
table {
  text-align: center;
}

p {
  padding-bottom: 0;
  margin-bottom: 0;
}

#line-break {
  height: 10%;
  width: 10%;
}

#type-title {
  text-align: center;
  padding-top: 2%;
  height: 7%;
  margin-top: 20;
  display: inline;
}

#body-wrapper {
  text-align: center;
  height: 100%;
  clear: both;
  overflow: hidden;
  
}

#body-container {
  background-color: #999999;
  height: 100%;
  overflow-y: auto;
}

#body-content-container {
  text-align: center;
}

#navbar-container, #resources-nav-bar {
  text-align: center;
}

#navbar-button-container {
  padding: 1px;
  text-align: center;
}

#type-button-container {
  background-color: #464646;
  display: inline-block;
  padding: 20px;
  border: solid 2px #3b3b3b;
  border-radius: 10px;
  box-shadow: 0 20px 40px 0 #464646, 0 6px 20px 0 #464646;
}

.btn, .btn:focus, .btn:active, .btn-default, .btn-default:hover, .btn-default:active, .btn-default:active:focus, .btn-default:visited, .btn-default:focus{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#clear-button:focus, #clear-button:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#walkthrough-link {
  padding: 5%;
}

#content-container {
  background-color: #464646;
  display: inline-block;
  padding: 10px;
  border: solid 2px #3b3b3b;
  border-radius: 5px;
  min-width: 20%;
  min-height: 20%;
}

#walkthrough-title {
  color: #8088d8;
}

#resources-nav-bar {
  padding-bottom: 1%;
}

#effect-upper-content-wrapper, 
#effect-bottom-content-wrapper, 
#effect-middle-content-wrapper {
  height: 50%;
  position: absolute;
  
}

#middle-content-wrapper, #upper-content-wrapper, #bottom-content-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 #effect-upper, #effect-middle, #effect-bottom{
  position: absolute;
  width: 90%;
  height: 50%;
}

#super-content-container, #resist-content-container, #immune-content-container {
  box-sizing: border-box;
  float: left;
  width: 50%;
}

#half-content-container, #weak-content-container, #no-effect-content-container {
  box-sizing: border-box;
  float: right;
  width: 50%;
}

.attack-td {
  background-color: #f5ac78;
}

.defense-td {
  background-color: #FAE078;
}

.spattack-td {
  background-color: #9DB7F5;
}

.spdefense-td {
  background-color: #A7DB8D;
}

.speed-td {
  background-color: #FA92B2;
}

.nature-td {
  background-color: #505050;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
}

#phy-spc {
  border-bottom: 5px solid #464646;
}

.header {
  background-color: #ffb3b3;
  padding: 2px;
  border: 2px solid black;
  border-radius: 25px;
  height: 140px;
  width: 778px;
  margin-bottom: 1px;
}

.weakness {
  padding: 5px;
  margin-bottom: 5px;
  border: 2px solid #d87074;
  border-radius: 25px;
  background-color: #d87074;
  display: inline-block;
}

.super-effective {
  padding: 5px;
  margin-bottom: 5px;
  border: 2px solid #5bbf5d;
  border-radius: 25px;
  background-color: #5bbf5d;
  display: inline-block

}

.strong {
  padding: 5px;
  margin-bottom: 5px;
  border: 2px solid green;
  border-radius: 25px;
  background-color: #80ff80;
  display: inline-block
}

.not-very-effective {
  padding: 5px;
  margin-bottom: 5px;
  border: 2px solid #ffb3b3;
  border-radius: 25px;
  background-color: #ffb3b3;
  display: inline-block
}

.no-effect {
  padding: 5px;
  margin-bottom: 5px;
  border: 2px solid #bfbfbf;
  border-radius: 25px;
  background-color: #bfbfbf;
  display: inline-block;
}

#GhostText {
  color: purple;
  font-size: 30px;
  font-family: "Verdana", Times, serif;
}

.phy-spc-td {
  background-color: #616161;
  font-weight: bold;
}

#normal-button {
  width:86px;
  height: 40px;
	background-color: gray;
  color: white;
  border: 2px solid gray;
}
#normal-button:hover, #normal-button.active {
  background-color: white;
	color: gray;
}
#normal-td, #Normal-text {
  color: gray;
}

#fire-button {
  width:86px;
  height: 40px;
  background-color: #ff944d;
	border: 2px solid #ff944d;
  color: white;
}
#fire-button:hover, #fire-button.active {
	background-color: white;
  color: #ff944d;
}
#fire-td, #Fire-text {
  color: #ff944d;
}

#water-button {
  width:86px;
  height: 40px;
	background-color: #39f;
	border: 2px solid #39f;
  color: white;
}
#water-button:hover, #water-button.active {
	background-color: white;
	color: #39f;
}
#water-td, #Water-text {
  color: #39f;
}

#grass-button {
  width:86px;
  height: 40px;
	background-color: #7c5;
	border: 2px solid #7c5;
  color: white;
}
#grass-button:hover, #grass-button.active {
  background-color: white;
  color: #7c5;
}
#grass-td, #Grass-text {
  color: #7c5;
}

#electric-button {
  width:86px;
  height: 40px;
	background-color:#fc3;
	border: 2px solid#fc3;
  color: white;
}
#electric-button:hover, #electric-button.active {
  background-color: white;
  color:#fc3;
}
#electric-td, #Electric-text {
  color: #fc3;
}

#ice-button {
  width:86px;
  height: 40px;
	background-color: #6cf;
	border: 2px solid #6cf;
  color: white;
}
#ice-button:hover, #ice-button.active {
  background-color: white;
  color: #6cf;
}
#ice-td, #Ice-text {
  color: #6cf;
}

#fighting-button {
  width:86px;
  height: 40px;
	background-color: #b54;
	border: 2px solid #b54;
  color: white;
}
#fighting-button:hover, #fighting-button.active {
  background-color: white;
  color: #b54;
}
#fighting-td, #Fighting-text {
  color: #b54;
}

#poison-button {
  width:86px;
  height: 40px;
	background-color: #a59;
	border: 2px solid #a59;
  color: white;
}
#poison-button:hover, #poison-button.active {
  background-color: white;
	color: #a59;
}
#poison-td, #Poison-text {
  color: #a59;
}

#ground-button {
  width:86px;
  height: 40px;
	background-color: #db5;
	border: 2px solid #db5;
  color: white;
}
#ground-button:hover, #ground-button.active {
  background-color: white;
  color: #db5;
}
#ground-td, #Ground-text {
  color: #db5;
}

#flying-button {
  width:86px;
  height: 40px;
	background-color: #89f;
	border: 2px solid #89f;
  color: white;
}
#flying-button:hover, #flying-button.active {
  background-color: white;
  color: #89f;
}
#flying-td, #Flying-text {
  color: #89f;
}

#psychic-button {
  width:86px;
  height: 40px;
	background-color: #f59;
	border: 2px solid #f59;
  color: white;
}
#psychic-button:hover, #psychic-button.active {
  background-color: white;
  color: #f59;
}
#psychic-td, #Psychic-text {
  color: #f59;
}

#bug-button {
  width:86px;
  height: 40px;
	background-color: #ab2;
	border: 2px solid #ab2;
  color: white;
}
#bug-button:hover, #bug-button.active {
  background-color: white;
  color: #ab2;
}
#bug-td, #Bug-text {
  color: #ab2;
}

#rock-button {
  width:86px;
  height: 40px;
	background-color: #ba6;
	border: 2px solid #ba6;
  color: white;
}
#rock-button:hover, #rock-button.active {
  background-color: white;
  color: #ba6;
}
#rock-td, #Rock-text {
  color: #ba6;
}

#ghost-button {
  width:86px;
  height: 40px;
	background-color: #66b;
	border: 2px solid #66b;
  color: white;
}
#ghost-button:hover, #ghost-button.active {
  background-color: white;
  color: #66b;
}
#ghost-td, #Ghost-text {
  color: #66b;
}

#dragon-button {
  width:86px;
  height: 40px;
	background-color: #76e;
	border: 2px solid #76e;
  color: white;
}
#dragon-button:hover, #dragon-button.active {
  background-color: white;
  color: #76e;
}
#dragon-td, #Dragon-text {
  color: #76e;
}

#dark-button {
  width:86px;
  height: 40px;
	background-color: #754;
	border: 2px solid #754;
  color: white;
}
#dark-button:hover, #dark-button.active {
  background-color: white;
  color: #754;
}
#dark-td, #Dark-text {
  color: #754;
}

#steel-button {
  width:86px;
  height: 40px;
	background-color: #aab;
	border: 2px solid #aab;
  color: white;
}
#steel-button:hover, #steel-button.active {
  background-color: white;
  color: #aab;
}
#steel-td, #Steel-text {
  color: #aab;
}

#fairy-button {
  width:86px;
  height: 40px;
	background-color: #e9e;
	border: 2px solid #e9e;
  color: white;
}
#fairy-button:hover, #fairy-button.active {
  background-color: white;
	color: #e9e;
}
#fairy-td, #Fairy-text {
  color: #e9e;
}
